.courses {
  padding: 40px 0;
}

.courses .text {
  padding: 0 20px;
}

.courses .text h2 {
  font-weight: bold;
}
.courses .text p {
  padding-top: 16px;
  font-size: 18px;
  font-weight: bold;
}

.filters {
  padding-bottom: 20px;
  /* border-top: 1px solid #777; */
}

.filters select,
.filters input {
  margin: 20px 10px;
  padding: 10px 0 10px 5px;
  /* border: 1px solid #6a737b;
   */
  border: none;
  border-radius: 10px;
  box-shadow: 0.5px 0.5px 3px #6a737b;
  font-size: 18px;
  font-weight: 500;
}
.filters select {
  transition: 0.5s;
}
.filters select:hover {
  background-color: #6a737b;
}

.filters input:focus {
  outline: 3px solid #0f6cbf;
}

.filters option {
  background-color: white;
  font-size: 18px;
  border-bottom: 1px solid #777;
  padding: 10px 0;
}

.cards {
  justify-content: center;
  align-items: center;
  gap: 25px;
}

@media (max-width: 1500px) {
  .cards {
    gap: 10px;
  }
}

.card-body .card-text {
  font-size: 16px;
  font-weight: 500;
  word-break: break-all;
  cursor: pointer;
  text-decoration: none;
}

.card-body .card-text:hover {
  text-decoration: underline;
}

.card img {
  cursor: pointer;
}
.complete {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.com,
.star {
  margin: 0 20px 10px;
  font-size: 18px;
  color: #777;
  font-weight: 500;
}
.card {
  min-width: 310px !important;
  box-shadow: 2px -2px 10px #acacac;
}
